TEMP2m*.txt
UR_20*UTCplus1.txt
Tmin*.asc
Tmed*.asc
Tmax*.asc
ggelo_*.asc
ET0_20*.txt
ET0_20*.asc
PRECI_20*.txt
PRECI_20*.asc
dati_mancanti
lista.txt
organizza_dati.sh
fabbisogno0*.asc
fabbisogno1*.asc
VDP_annuo_20*.asc
VDP.log
temp_med_20*.txt
